body {
  font-family: 'VT323', monospace;
  text-align: center;
  background: rgb(83, 136, 83);
}

.h1 {
 font-family: 'VT323', monospace; 
}

canvas{
  border: 5px solid black;
  background-color: rgb(87, 83, 83);
}

.pressing {
  margin-top: 20px;
}

.scoreBar{
  font-size: 50px;
  font-family: 'VT323', monospace;
}

button {
  padding: 10px;
  margin: 5px;
  font-size: 20px;
  font-family: 'VT323', monospace;
  border: 5px solid black;
}